{% extends 'base.html.twig' %}

{% block body %}
	<table style="margin-bottom: 50px">
		<thead>
			<tr>
				<td>id</td>
				<td>name</td>
				<td>action</td>
			</tr>
		</thead>
		<tbody>
		{% for task in tasks %}
			<tr>
				<td>{{ task.id }}</td>
				<td>{{ task.uuid }}</td>
				<td>{{ task.name }}</td>
				<td><a href="{{ path('task_overview', {task: task.uuid}) }}">edit</a> {{ form(task_delete_forms[task.id], {attr: {action: path('task_delete', {task: task.uuid}), class: 'text' }}) }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{ form(task_form, {'attr': {'class': 'regular'}}) }}
{% endblock %}